.setFont {

    .pch-form{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .pageName {
        label {
            margin-right: 10px;
        }
        input {
            border: 1px solid #DADADA;
            border-radius: 4px;
        }
    }
    .container {
        width: 100%;
        border: 1px solid #F6DCA9;
        background: #fff;
        height: 800px;
        overflow: hidden;
        display: inline-flex;
        .container-left {
            width: 15%;
            max-width: 160px;
            box-sizing: border-box;
            color: #666;
            line-height: 30px;
            background: #FDF4E3 ;
            border-right:1px solid #F6DCA9;
            padding: 15px 0 15px 20px;
            height: 100%;
            vertical-align: top;
            overflow-y: scroll;
            ul{
                width: 135px;
            }
            a {
                color: #666;
                cursor: pointer;

            }
            a:focus {
                text-decoration: none;
            }
            li.active {
                position: relative;

                >a {
                    color: #FC9E25;
                }
                &::after {
                    content: '*';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: -11px;
                    font-size: 12px;
                }
            }
        }
        .container-right {
            flex: 1;
            background: #fff;
            padding: 15px;
            padding-top: 25px;
            overflow-y: scroll;
            .setfont-field{
                margin-bottom: 35px;
            }

            .base-detail {
                border-bottom: 1px solid #d8d8d8;
                padding-bottom: 6px;
                .moduleStr {
                    border: 0;
                    input {
                        border: none;
                        border-bottom: 1px solid #d8d8d8;
                        border-radius: 0 !important;
                        &[readOnly] {
                            border-bottom-color: #fff;
                        }
                    }

                }
                .base-detail-name{
                    float: left;
                    &.active {
                        color: #FC9E25;
                    }
                    input {
                        font-size: 15px !important;
                        color: #000 !important;
                        font-weight: bold;
                    }
                }
                .base-detail-opt{
                    float:right;
                }
                .addStr {
                    display: inline-block;
                    background: #FC9E25;
                    border-radius: 4px;
                    height:30px;
                    line-height: 30px;
                    width: 90px;
                    text-align: center;
                    color: #fff;
                    margin-top: -14px;
                    margin-left: 10px;
                    cursor: pointer;
                }
                .icon {
                    cursor: pointer;
                    margin: 0 4px;
                    font-size: 12px;
                    vertical-align: middle;
                    &.delete {
                        font-size: 16px;
                    }
                    &.disabled{
                        color: #999;
                        cursor: not-allowed;
                    }
                }
            }
            .ui-sortable {
                &::after {
                    display: block;
                    clear: both;
                    content: ''
                }
                margin: 15px 0;
                min-height: 50px;

                .ui-sortable-empty{
                    line-height: 50px;
                    color: #999;
                    padding-left: 10px;
                }
                .dynamic-item {
                    height: 54px;
                    padding: 10px;
                    // position: relative;
                    font-size: 14px;
                    padding-right: 30px;
                    float: left;
                    &.active {
                        padding-right: 6px;
                        box-shadow: 0 0 4px 0 #C1C1C1;
                        border-radius: 4px;
                        .delete {
                            display: block;
                        }
                        .edite {
                            display: inline-block !important;
                        }

                    }
                    &::after {
                        content: '';
                        display: block;
                        clear: both;
                    }
                    .next-range-picker-medium {
                        width: 140px;
                    }
                    .next-input-group {
                        width: 150px !important;
                    }
                    @media screen and (max-width: 1400px) {
                        .next-range-picker-medium {
                            width: 150px;
                        }
                    }
                    .next-select {
                        margin-top: 0;
                    }
                    .addNewCheckbox {
                        margin-top: 7px;
                        >label {
                            margin-left: 8px;
                        }
                    }
                    .addNewRadio {
                        margin-top: 7px;
                        >label {
                            margin-left: 8px;
                            >label {
                                margin-left: 5px;
                            }
                        }
                    }
                    .label {
                        float: left;
                        margin-right: 11px;
                        margin-top: 8px;
                        text-align: right;
                        position: relative;
                        .ellips {
                            width: 140px;
                            float: right;
                            // line-height: 14px;
                        }
                        & + .next-input, & + .next-select{
                            width: 150px !important;
                        }

                        @media screen and (max-width: 1400px) {
                            & + .next-input, & + .next-select{
                                width: 150px !important;
                            }
                            .ellips {
                                width: 100px;
                            }
                        }
                        &:nth-child(2) {
                            width: auto !important;
                            .next-radio {
                                border: none;
                            }
                        }
                        &::after {
                            content:'';
                            display: block;
                            clear: both;
                        }
                        & + span {
                            float: left;
                        }
                        >span {
                            float: left;

                        }
                        span.required {
                            color: #666;
                            text-align: center;
                            cursor: pointer;
                            margin-right: 3px;
                            background: #FCFCFC;
                            border: 1px solid #E1E1D8 ;
                            border-radius: 2px;
                            height: 15px;
                            width: 15px;
                            display: inline-block;
                            vertical-align: middle;

                        }
                        .required {
                            color: #FD5848 !important;

                        }

                        .none {
                            display: none;
                        }
                    }
                    .edite {
                        display: none;
                        margin-left: 10px;
                        margin-top: 8px;
                        cursor: pointer;
                        color: #999;
                    }
                    .delete {
                        float: right;
                        height: 20px;
                        width: 20px;
                        text-align: center;
                        border-radius: 100%;
                        display: none;
                        cursor: pointer;
                        margin-right: -16px;
                        margin-top: -52px;
                        background: #fff;
                        border: 1px solid #CCCCCC;
                        box-shadow: 0 1px 1px 0 rgba(236,236,236,0.50);
                    }
                }
            }

            .addModule {
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .submit {
                text-align: center;
                margin-top: 40px;
            }
        }
        .container-right::-webkit-scrollbar {display:none}
        .container-left::-webkit-scrollbar {display:none}
    }
    .next-select {
        width: 200px;
        margin-top: -7px;
        float: right;
        height: 26px;
    }
}
.customerStr {
    >div {
        display: inline-block;
        margin-bottom: 15px;
        >label {
            margin-left: 10px;
            margin-right: 5px;
        }
        &.first {
            >label {
                margin-left: 0;
            }
        }
    }
    .next-select {
        width: 200px;
        margin-top: -7px;
        float: right;
        height: 26px;
    }
}
.customerEdite {
    >div.first {
        margin-bottom: 0;
    }
}
.beautify {
    margin: 10px 0;
    .marr10 {
        margin-right: 10px;
    }
}
.constraint {
    &::after {
        clear: both;
        content: "";
        display: block;
    }
    >* {
        float: left;
    }
    >.dropDown {
        float: none;
    }
    >.changSet {
        width: 100%;
    }
    .marv5 {
        margin: 0 10px;
    }
    .next-input {
        width: 100px !important;
        margin-top: -3px;
    }
    .next-radio{
        margin-right: 10px;
    }
    .next-select {
        display: inline-block;
        margin-left: 0;
        margin-top: -3px;
    }
    .insert {
        background: #F9F9F9;
        border: 1px solid #DADADA;
        border-radius: 4px;
        padding: 2px 5px;
        margin-left: 10px;
    }
    .mar0 {
        margin: 0 !important;
    }
    .changSet {
        margin-top: 7px;
    }
    .dropDown {
        margin-left: 10px;
        >div {
            margin-bottom: 15px;
            .next-checkbox  {
                margin: 0 10px 0 0;
            }
            .addReduce {
                display: inline-block;
                padding-top: 3px;
                >span {
                    height: 18px;
                    width: 18px;
                    border-radius: 100%;
                    font-size: 16px;
                    line-height: 18px;
                    text-align: center;
                    display: inline-block;
                    border: 1px solid #8C8989;
                    margin-left: 10px;
                    margin-top: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    ::-webkit-scrollbar{
        display:none;
      }
}
.dialog-title{
    font-size: 18px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}
.serfont-custom-dialog-title{
    font-size: 18px;
    color: #333333;
    margin-bottom: 27px;
    padding: 5px 0;
    border-bottom: 1px solid #d8d8d8;
}
