.setFont {
    font-size: 14px;
    color: #333333;
    .pageName {
        label {
            margin-right: 10px;
        }
        input {
            border: 1px solid #DADADA;
            border-radius: 4px;
        }
    }
    .container {
        display: table;
        width: 100%;
        border: 1px solid #F6DCA9;
        .container-left {
            display: table-cell;
            width: 150px;
            box-sizing: border-box;
            color: #666;
            line-height: 30px;
            background: #FDF4E3 ;
            border-right:1px solid #F6DCA9;
            padding: 15px 0 15px 20px;
            height: 100%;
            li.active {
                position: relative;
                color: #FC9E25;
                &::after {
                    content: '✽';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: -11px;
                    font-size: 12px;
                }
            }
        }
        .container-right {
            background: #fff;
            display: table-cell;
        }
    }
}
