.edit-permission-dialog {
  padding: 30px 0 40px;
  .table-list {
    width: 100%;
    text-align: center;
  }
  .btn-wrap,
  .table-l,
  .table-r {
    display: inline-block;
    vertical-align: middle;
  }
  .table-l {
    text-align: left;
    width: 40%;
  }
  .btn-wrap {
    width: 20%;
    .add-btn {
      width: 40px;
    }
  }
  .table-r {
    text-align: left;
    vertical-align: top;
    width: 40%;
  }
}
