.contract-edit-pages {
  .contract-template-add-wrapper {
    min-height: 500px;
    border: 1px solid #ccc;
    .contract-template-editor {
      padding: 0 20px;
    }
  }
  .btns-wrap {
    text-align:center;
    padding: 60px 0 200px;
    button {
      margin-right: 10px;
    }
  }
}
