.contract-edit-pages {
  .editor-wrap {
    text-align: center;
  }
  .contract-template-add-wrapper {
    border: 1px solid #ccc;
    .contract-template-editor {
      padding: 0 20px;
    }
  }
  .btns-wrap {
    text-align:center;
    padding: 20px 0;
    button {
      margin-right: 10px;
    }
  }
}
