

.loanApplication{
  .modify-page{
    height: 800px;
    width: 100%;
    .title{
      float: left;
      width: 80%;
      height: 100%;
      opacity: 0.6;
      background: #FDF4E3;
      box-shadow: inset 1px 0 0 0 #F6DCA9, inset -1px 0 0 0 #F6DCA9, inset 0 1px 0 0 #F6DCA9, inset 0 -1px 0 0 #F6DCA9;
      -webkit-box-shadow: inset 1px 0 0 0 #F6DCA9, inset -1px 0 0 0 #F6DCA9, inset 0 1px 0 0 #F6DCA9, inset 0 -1px 0 0 #F6DCA9;
      -moz-box-shadow: inset 1px 0 0 0 #F6DCA9, inset -1px 0 0 0 #F6DCA9, inset 0 1px 0 0 #F6DCA9, inset 0 -1px 0 0 #F6DCA9;
      padding: 20px 00px 0px 35px;
      box-sizing: border-box;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0.92px;
      line-height: 30px;
      a{
        display: block;
        color: #000000;
      }
      a.active {
        position: relative;
        color: #FC9E25;
        text-decoration: none;
        &::after {
          content: '*';
          display: block;
          position: absolute;
          top: 0;
          left: -11px;
          font-size: 12px;
        }
      }
      li:hover{
        cursor:pointer;
      }
    }
  }
  .modify-form{
    height: 100%;
    background: #FFFEFB;
    overflow-y: scroll;
    .info{
      height: auto;
      h4{
        font-family: PingFangSC-Medium;
        font-size: 15px;
        //color: #FC9E25;
        letter-spacing: 0;
        height: 30px;
        border-bottom:  1px #D8D8D8 solid;
      }
      .info-row{
        display: flex;
        flex-wrap: wrap;
        .item{
          width: 33%;
          margin: 10px 0px;

        }
        .half{
          width: 100%;
        }
        .single-line{
          width: 100%;
        }
        .subsidiary-field{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          margin-top: 3px;
        }
        .CheckboxGroup{
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
        }
      }
      .button-box{
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin-bottom: 200px;
        margin-top: 50px;
        width: 100%;
        button{
          border-radius: 3px;
          height: 34px;
          width: 120px;
          margin-right: 10px;
          color: #ffffff;
        }
        button:nth-child(1){
          background: #FC9E25;
        }
      }
      .upload-picture{
        width: 100%;
        margin:20px 0;
      }
    }


  }
  .modify-form::-webkit-scrollbar {
    display: none;
  }

  .item {
    .info-row .next-form-left.next-form-large .next-form-item-label {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .item {
    .next-form-left.next-form-medium .next-form-item-label {
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .item .next-col-21 .next-form-item-explain{
    top: 0px;
    position: relative;
  }
  .item .next-form-left .next-form-item-control {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .pch-form{
    padding: 20px 0px 0px 0px;
    .review-form{
      background: #FFFEFB;
      border: 1px solid #F6DCA9;
      border-left: none ;
      border-radius: 1px;
      display: inline-flex;
      height: 800px;
      .review-page{
        height: 800px;
        width: 15%;
        max-width: 160px;
        box-sizing: border-box;
        .title{
          float: left;
          width: 100%;
          height: 100%;
          background: #FFF3E4;
          box-sizing: border-box;
          border: 1px solid #F6DCA9;
          border-top: none;
          overflow-y: scroll;
          ul{
            width: 150px;
            padding-left: 25px;
            a{
              display: block;
              color: rgb(102, 102, 102);
              font-family: PingFangSC-Medium;
              font-size: 15px;
              letter-spacing: 0;
              line-height: 48px;
              text-align: left;
              cursor: pointer;
            }
            a.active {
              position: relative;
              color: #FC9E25;
              text-decoration: none;
              &::after {
                content: '*';
                display: block;
                position: absolute;
                top: 0;
                left: -11px;
                font-size: 12px;
              }
            }
            li:hover{
              cursor:pointer;
            }
          }
        }
        .title::-webkit-scrollbar {display:none}
      }
      .rcontent-edito{
        float: right;
        width: auto;
        box-sizing: border-box;
        overflow-y: scroll;
        width: 100%;
      }
      .rcontent-edito::-webkit-scrollbar {
        display: none;
      }
      .review-detail{
        margin-bottom: 20px;
        .name{
          display: block;
          height: 44px;
          background: #FFF3E4;
          border-bottom: 1px solid #F6DCA9;
          border-radius: 1px;
          line-height: 44px;
          font-family: PingFangSC-Medium;
          font-size: 14px;
          color: #000000;
          letter-spacing: 0;
          padding-left: 24px;
          margin-bottom: 20px;
        }
      }
    }
    .next-menu{
      padding: 8px 0;
      min-width: 100px;
    }
  }

  .botton-box{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .next-number-picker-handler-wrap {
    display: none;
  }
  .next-number-picker-normal .next-number-picker-input {
    width: 100%;
  }
  .next-number-picker-normal {
    width: 100%;
  }
  .append{
    float: right;
    line-height: 33px;
  }
  .next-number-picker-input-wrap {
    overflow: hidden;
    float: none;
  }

}
