.contract-eidt-pages {
  .main-contract-main-action {
    width: 80%;
    margin: 0 auto;
  }
  .contract-edit-button{
    margin: 0px 10px;
  }
  .contract-edit-bottom-div{
    text-align: center;
    margin: 20px;
  }
  .input-disabled{
    border: 0px;
    border-bottom: 1px solid;
    text-align: center;
  }
  .contract-edit-title {
    text-align: center;
    margin: 30px 0px;
    font-weight: 500;
    font-size: 16px;
  }
}
