.contract-edit-dialog-wrap {
  width: 28%;
  .contract-edit-dialog-content {
    padding: 30px 40px 0 10px;
    .title {
      font-size: 14px;
      line-height: 150%;
    }
    .check-group-style {
      >label {
        display: block;
      }
    }
    .btns-wrap {
      text-align: center;
      padding-top: 20px;
      .dialog-btn {
        margin-right:10px;
      }
    }
  }
}
