.contract-sign-dialog-wrap {
  width: 26%;
  .upload-title {
    text-align: center;
  }
  .upload-wrap {
    padding: 0 40px;
  }
  .contract-sign-dialog-content {
    padding-top: 30px;
    .btns-wrap {
      text-align: center;
      padding-top: 20px;
      .dialog-btn {
        margin-right:10px;
      }
    }
  }

}
