.audit-list-pages {
  .table-list {
    margin-top: 20px;
  }
  .pagination-wraps {
    padding: 20px 0;
  }
  .botton-col{
    .next-btn-primary{
      background: #FC9E25;
      width: 150px;
      height: 30px;
    }
  }
}
