.check-detail-page {
  .row {
    margin-bottom: 30px;
  }
  .return-btn {
    background: #FC9E25 !important;
    margin: 20px auto 0;
    display: block;
  }
}
.title-p{
  font-family: PingFangSC-Medium;
font-size: 14px;
color: #1B2630;
letter-spacing: 0;
}
