.PinganContractDetail {
  .next-form-left.next-form-medium .next-form-item-label {
    color: #1B2630;
    line-height: 20px;
  }
  .file{
    width: 100%;
    text-align: center;
    a{
      color: #FC9E25;
    }

  }
}
