.contract-handle-btn-list-wrap {
  text-align: left;
  .next-btn-text.next-btn {
    margin-right: 16px;
  }
}
.contract-switch {
  width: 55px;
  &.next-switch-on {
    background-color: #FC9E25;
  }
  &.next-switch-medium > .next-switch-trigger {
    left: 28px;
  }
  &.next-switch-off > .next-switch-trigger {
    left: 0;
  }
}
