.contract-template-dialog-wrap {
  width: 26%;
  .contract-template-dialog-content {
    padding-top: 30px;
    .title {
      text-align: center;
    }
    .btns-wrap {
      text-align: center;
      padding-top: 20px;
      .dialog-btn {
        margin-right:10px;
      }
    }
  }

}
