input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.botton-col{
  .next-btn-primary{
    background: #FC9E25 !important;
    width: 150px;
    height: 30px;
  }
}
// 修改ui组件错误提示不占空间
.next-form-item-control {
  .next-form-item-explain {
    top: 29px;
    position: absolute;
  }
}

.loan{
  height: 750px;
  width: 100%;
  margin-top: 20px;
  .title{
    float: left;
    width: 80%;
    height: 100%;
    opacity: 0.6;
    background: #FDF4E3;
    box-shadow: inset 1px 0 0 0 #F6DCA9, inset -1px 0 0 0 #F6DCA9, inset 0 1px 0 0 #F6DCA9, inset 0 -1px 0 0 #F6DCA9;
    -webkit-box-shadow: inset 1px 0 0 0 #F6DCA9, inset -1px 0 0 0 #F6DCA9, inset 0 1px 0 0 #F6DCA9, inset 0 -1px 0 0 #F6DCA9;
    -moz-box-shadow: inset 1px 0 0 0 #F6DCA9, inset -1px 0 0 0 #F6DCA9, inset 0 1px 0 0 #F6DCA9, inset 0 -1px 0 0 #F6DCA9;
    padding: 20px 00px 0px 35px;
    box-sizing: border-box;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.92px;
    line-height: 30px;
    a{
      display: block;
      color: #000000;
    }
    a.active {
      position: relative;
      color: #FC9E25;
      text-decoration: none;
      &::after {
        content: '*';
        display: block;
        position: absolute;
        top: 0;
        left: -11px;
        font-size: 12px;
      }
    }
    li:hover{
      cursor:pointer;
    }
  }
}
