.PbcContractDetail {
  .next-form-left.next-form-medium .next-form-item-label {
    color: #1B2630;
    line-height: 20px;
  }
  .pch-form .next-select {
    width: 58%;
  }
  .file{
    float: right;
    &:nth-child(2) {
      margin-left: 30px;
    }
    text-align: center;
    a{
      color: #FC9E25;
      cursor: pointer;
    }
  }
}
