.contract-template-detail-page {
  .template-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
  }
  .template-detail-content {
    width:80%;
    margin: 0 auto;
    padding: 20px 0;
  }
}
