.edit-permission-dialog-contents {
  padding-top: 0px !important;
  .table-list {
    width: 100%;
    text-align: center;
  }
  .btn-wrap,
  .part-l,
  .part-r {
    display: inline-block;
    vertical-align: middle;
  }
  .part-l {
    text-align: left;
    width: 40%;
  }
  .btn-wrap {
    width: 20%;
    .add-btn {
      width: 50px;
      color:#E5B67A ;
    }
  }
  .part-r {
    text-align: left;
    vertical-align: top;
    width: 40%;
  }
  .center{
    text-align: center;
    width: 100%;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #151515;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
.edit-permission-dialog-wrap {
  width: 80%;
  .permission-btn-list {
    text-align: center;
    .submit-btn,
    .cancel-btn {
      width: 70px;
      height: 30px;
      line-height: 30px;
    }
    .submit-btn {
      background: #FC9E25;
      border-color: #FC9E25;
      color: #fff;
    }
  }
}
.buttonsSure,.buttonsBack{
  border-radius: 4px !important;
}
.buttonsSure {
  margin-right: 50px;
}
.pch-condition-padding  {
  padding-bottom:0 !important; 
}