.addFont {
    font-size: 14px;
    color: #333333;
    display: none;
    &.active {
        display: block;
    }
    .pageName {
        label {
            margin-right: 10px;
        }
        input {
            border: 1px solid #DADADA;
            border-radius: 4px;
        }
    }
    .subtitle:not(:first-child) {
        padding-top:  10px !important;
    }
    .diffence {
        font-size: 15px;
        &:not(:first-child) {
            margin-top: 15px; 
        }
    }
    .listCode {
        border: 1px solid #ECECEC;
        border-radius: 4px;
        color: #333;
        width: 165px;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
        text-align: center;
        margin-right: 15px;
        margin-top: 15px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        &.isFixed {
            cursor: auto;
        }
        .icon {
            display: none;
            position: absolute;
            font-size: 14px;
            cursor: pointer;
            right: -7px;
            top: -20px;
        }
    }
    .selectCode {
        background: #FFF3DB;
        border: 1px solid #F6DCA9;
        border-radius: 4px;
        color: #FC9E25;
        .icon {
            display: block;
        }
    }
    .subDif {
        font-size: 15px;
        color: #A7A7A7;
        margin-top: 15px;
        margin-bottom: 15px;
        .subDif-name{
            min-width: 150px;
        }
        .subDif-select {
            float: right;
            width: 131px;
            margin-top: -20px;
            span {
                font-size: 14px;
                color: #1AA8F0;
                cursor: pointer;
                &:first-child {
                    margin-right: 10px;
                    
                }
            }
        }
    }
}
.footerDom-btn .next-btn{
    border-radius: 5px !important;
    margin-right: 10px;
}
.subtitle {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    padding-bottom: 0 !important;
}
.serfont-cutom-dialog-title {
    display: none;
    font-size: 18px;
    color: #333333;
    margin-bottom: 27px;
    padding: 5px 0;
    border-bottom: 1px solid #d8d8d8;
    &.active {
        display: block;
    }
}