input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.botton-col{
  .next-btn-primary{
    background: #FC9E25 !important;
    width: 150px;
    height: 30px;
  }
}
// 修改ui组件错误提示不占空间
.next-form-item-control {
  .next-form-item-explain {
    top: 23px;
    position: absolute;
  }
}