input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.botton-col{
  .next-btn-primary{
    background: #FC9E25 !important;
    width: 150px;
    height: 30px;
  }
}
